
# Default ignored files
/.idea.SqdcWatcher.dir/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.SqdcWatcher.dir/.idea/dataSources/
/.idea.SqdcWatcher.dir/.idea/dataSources.local.xml